* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #666;
}
.App {
  text-align: center;
  width: 1590px;
}

.container {
  margin: 0 auto;
  width: 1586px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(./header_start_img.jpg);
  background-size: 75%;
  background-repeat: no-repeat;
}

.navigation {
  width: 1400px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.login ul {
  margin-top: 40px;
  padding:  0 20px;
  font-size: 13px;
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
}

.login ul li button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #666;
  text-decoration: none;
  background: none;
  border: none;
  padding: 5px 10px;
}

.login ul li button:hover {
  border: 1px solid gold;
  padding: 5px 10px;
  cursor: pointer;
}

.login ul li button:focus {
  outline: none;
}

.menu ul {
  margin-top: 20px;
  padding: 20px 10px;
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
}

.menu-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
  background: none;
  border: none;
  padding: 10px 20px;
}

.menu-link:hover {
  border: 1px solid #666;
  padding: 10px 20px;
  cursor: pointer;
}

.menu-link:focus {
  outline: none;
}

.buttons {
  height: 400px;
  width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 35px;
  text-align: center;
  line-height: 70px;
  margin-bottom: 20px;
}

.content-container {
  width: 700px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
}

.decoration {
  height: 32px;
  width: 250px;
  margin: 30px 0;
  background-image: url(./decoration.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;

}

.btn-container {
  height: 100px;
  width: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 30px;
  background: none;
  border: 1px solid #666;
}
.buttons button:focus {
  outline: none;
}

.buttons button:hover {
  cursor: pointer;
  border: 2px solid #666;
}

.btn-left {
  width: 200px;
  height: 100px;
}

.btn-right {
  width: 250px;
  height: 100px;
}

.statistics {
  background-color: #f8ce12;
  display: flex;
  justify-content: center;
  align-items: center;
}
.statistics-container {
  height: 300px;
  width: 1400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.statistics-container div {
  height: 250px;
  width: 400px;
  text-align: center;
}

.statistics-container div h1 {
  font-size: 80px;
  font-weight: 300;
}

.statistics-container div h3 {
  font-size: 15px;
  font-weight: 400;
  padding: 10px 0 30px 0;
  }

.four-steps {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.four-steps-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.four-steps-inner-container h1 {
  font-weight: 400;
}

.steps {
  height: 200px;
  width: 1000px;
  background-color: #ddd;
  font-weight: 300;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.register-btn {
  height: 80px;
  width: 300px;
  margin-top: 50px;
  font-size: 25px;
  font-weight: 200;
  font-family: 'Open Sans', sans-serif;
  color: #666;
  background: none;
  border: 1px solid #666;
}

.register-btn:hover {
  border: 2px solid #666;
  cursor: pointer;
}

.register-btn:focus {
  outline: none;
}

.step {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.step i {
  font-size: 35px;
}

.step hr {
  width: 60%;
}

.step p {
  padding: 10px;
  text-align: center;
  font-weight: 400;
}

.about {
  height: 800px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ddd;
}

.about-text {
  width: 500px;
  padding: 30px;
  display: flex;
  flex-direction: column;

}

.about-text p:first-of-type {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

.about-text p {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  line-height: 45px;
}

.about-image {
  height: 700px;
  width: 900px;
  background-image: url(./about.jpg);
  background-size: cover;
}

.organizations-wrapper {
  width: 1590px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.organizations-select {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.organizations-select h1 {
  margin-top: 50px;
  font-weight: 400;
  padding: 20px;
}

.organizations-buttons {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.organizations-buttons button {
  padding: 10px;
  background: none;
  border: none;
  height: 70px;
  width: 160px;
  font-size: 20px;
  color: #666;
  text-align: center;
}

.organizations-buttons button:hover {
  border: 1px solid #666;
  cursor: pointer;
}

.organizations-buttons button:focus {
  outline: none;
}

.organizations-select p {
  width: 450px;
  text-align: center;
  padding: 30px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}